<!-- intresting.tpl -->
<table border=1>
    <tr>
        <th>title</th>
    </tr>
    %for row in rows1:
        <tr style="background-color:#98FB98;">
	    <td>{{row.title}}</td>
        </tr>
    %end
    %for row in rows2:
        <tr style="background-color:#FFFACD;">
	    <td>{{row.title}}</td>
        </tr>
    %end
    %for row in rows3:
        <tr style="background-color:#FFA07A;">
	    <td>{{row.title}}</td>
        </tr>
    %end
</table>
<a href="/back">Назад к несортированным</a>
